/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.button {
	-fx-background-radius: 0.0;
	-fx-focus-color: transparent;
}

.playerPaneButton{
	-fx-background-color: rgb(0,79,157);
    -fx-text-fill: white;
    -fx-font-size: 16.0px;
    -fx-padding: 10.0 20.0 10.0 20.0;
    -fx-background-radius: 0.0;
    -fx-min-width: 120.0px;
    -fx-min-height: 40.0px
}

.addChordButton{
	-fx-min-width: 100.0px;
	-fx-background-color: rgb(0.0,79.0,157.0);
	-fx-text-fill: white;
}

.addChordButton:hover, .playerPaneButton:hover{
	-fx-background-color:rgb(204,230,255);
	-fx-text-fill: black;
}

.intervalToggle {
	-fx-min-width: 100.0px;
	-fx-background-color: rgb(205.0,245.0,146.0);
	-fx-background-radius: 0.0;
}

.intervalToggleRed {
	-fx-background-color: rgb(255.0,128.0,128.0) !important;
}

.littleToggle {
	-fx-min-width: 30.0px;
	-fx-background-color: rgb(205.0,245.0,146.0);
	-fx-background-radius: 0.0;
}

.intervalButton {
	-fx-background-color:
        #090a0c,
        linear-gradient(#38424b 0.0%, #1f2429 20.0%, #191d22 100.0%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50.0% 0.0%, radius 100.0%, rgba(114.0,131.0,148.0,0.9), rgba(255.0,255.0,255.0,0.0));

    -fx-background-insets: 0.0,1.0,2.0,0.0;
    -fx-text-fill: white;
    -fx-font-family: "Candara";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 14.0px;
    -fx-padding: 10.0 20.0 10.0 20.0;
    -fx-min-width: 150.0px;
    -fx-background-radius: 0.0;
}
